/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package com.sugree.twitter;

/**
 *
 * @author benlamb
 */

public class PrivateData {
   public static final String TWITPIC_API_KEY = "0";
   public static final String IMAGESHACK_API_KEY = "0";
   public static final String OAUTH_CONSUMER_KEY = "0";
   public static final String OAUTH_CONSUMER_SECRET = "0";
 }

